# Tell the configuration system it should stop looking for other configuration files (default: false).
config.stopBubbling = true

# Generate setters that return 'this' instead of 'void' (default: false).
lombok.accessors.chain = false

# Don't call the getters but use the fields directly in the generated toString method (default = false).
lombok.toString.doNotUseGetters = true

# When generating toString for classes that extend something (other than Object), either automatically take into account superclass implementation (call), or don't (ski
  #p), or warn and don't (warn). (default = warn).
lombok.toString.callSuper = call

lombok.equalsAndHashCode.callSuper = call
